@import "tailwindcss";

@theme {
  --color-brand: var(--color-purple-500);
  --color-brand-muted: var(--color-purple-500 / 0.1);
  
  --color-dark-bg: #0a1120;
  --color-card-bg: #111827;
}

body {
  background-color: var(--color-dark-bg);
  color: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-[#0a1120] text-white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a1120;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-500);
}