@import "tailwindcss";

@theme {
  --color-brand: var(--color-purple-500);
  --color-brand-muted: var(--color-purple-500 / 0.1);
  --color-dark-bg: #0a1120;
}

body {
  background-color: var(--color-dark-bg);
  color: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  
  min-height: 100dvh; 
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a1120;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-500);
}